<!-- This style block should be placed here in order to configure styling from config.toml. -->
<style>
html body {
    background-color: {{ .Site.Params.backgroundColor | default "#1C76B8" }}
}

h1 {
    font-family: '{{ .Site.Params.font }}', monospace;
    color: '{{ ".Site.Params.titleTextColor" | default "#FFFFFF" }}';
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    width: calc(100% + 0.5rem);
    font-size: 3em;
    line-height: 1.25;
    font-weight: 400;
}

p {
    font-family: '{{ .Site.Params.font }}', monospace;
}
</style>

<!-- main.css -->
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}"  type="text/css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family={{ .Site.Params.font }}" rel="stylesheet">
