<!-- This style block should be placed here in order to configure styling from config.toml. -->
<style>
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
    -webkit-text-size-adjust: none;
    min-width: 320px;
    min-height: 100vh;
    background-color: {{ .Site.Params.backgroundColor | default "#1C76B8" | safeCSS }};
}

h1 {
    text-transform: uppercase;
    color: {{ .Site.Params.titleTextColor | default "#FFFFFF" | safeCSS}};
    font-family: '{{ .Site.Params.font }}', monospace;
    letter-spacing: 0.5rem;
    width: calc(100% + 0.5rem);
    font-size: 3em;
    line-height: 1.25;
    font-weight: 400;
}

</style>

<!-- main.css -->
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}"  type="text/css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family={{ .Site.Params.font }}" rel="stylesheet">
