<form enctype="multipart/form-data" id="form01" method="post">
    <div class="inner">
        <div class="field">
            <input
                type="text"
                name="firstName"
                placeholder="First name"
                maxlength="128"
                required>
        </div>
        <div class="field">
            <input
                type="text"
                name="lastName"
                placeholder="Last name"
                maxlength="128"
                required>
        </div>
        <div class="field">
            <input
                type="email"
                name="email"
                placeholder="Your email address"
                maxlength="128"
                required>
        </div>
        <div class="field" style="display: none;">
            <input type="text" name="www-url" id="form01-www-url" placeholder="Www Url" maxlength="128" disabled="disabled">
        </div>
        <div class="actions">
            <button type="submit">Subscribe</button>
        </div>
</form>
