{{ if and .Site.Params.mailchimpURL .Site.Params.mailchimpBotDecoyLink }}
<form
    action="{{ .Site.Params.mailchimpURL }}"
    method="post"
    id="form01"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
    novalidate>
    <div class="inner">
        <div class="field">
            <input
                type="text"
                name="FNAME"
                placeholder="First name (required)"
                class="required"
                id="MCE-FNAME"
                required>
        </div>
        <div class="field">
            <input
                type="text"
                name="LNAME"
                placeholder="Last name (required)"
                class="required"
                id="MCE-LNAME"
                required>
        </div>
        <div class="field">
            <input
                type="email"
                name="EMAIL"
                placeholder="Your email address (required)"
                class="required email"
                id="MCE-EMAIL"
                required>
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div
            style="position: absolute; left: -5000px;"
            aria-hidden="true">
            <input
                type="text"
                name="{{ .Site.Params.mailchimpBotDecoyLink }}"
                tabindex="-1"
                value="">
        </div>
        <div class="actions">
            <button type="submit" value="mc-embedded-subscribe">Subscribe</button>
        </div>
</form>
{{ end }}
