{{ partial "header" . }}

{{ partial "navbar" . }}

<div id="wrapper">
    <div id="main">
        <div class="inner">
            <section id="home-section" class="active">
                <div id="columns01" class="container default">
                    <div class="inner">
                        {{ .Content }}
                    </div>
                </div>
                <div id="columns02" class="container default">
                    <div class="inner">
                        {{ partial "mailchimp" . }}
                    </div>
                </div>
                <p id="text02">© {{ .Site.Params.copyrightYear }} {{ .Site.Params.author }}</p>
            </section>
        </div>
    </div>
</div>

{{ partial "footer" . }}
