{{ partial "header" . }}

<div id="wrapper">
    <div id="main">
        <div class="inner">
            <section id="home-section" class="active">
                <div id="columns01" class="container default">
                    <div class="inner">
                        <div id="image01" class="image"><img src="img/image01.png" alt=""></div>
                        <h1>{{ .Site.Title }}</h1>
                        <h1 id="text03"><span>{{ .Site.Title }}</span></h1>
                        {{ .Content }}
                    </div>
                </div>
                <div id="columns02" class="container default">
                    <div class="inner">
                        <form enctype="multipart/form-data" id="form01" method="post">
                            <div class="inner">
                                <div class="field">
                                    <input type="email" name="email" id="form01-email" placeholder="Your email address" maxlength="128" required="">
                                </div>
                                <div class="field" style="display: none;"><input type="text" name="www-url" id="form01-www-url" placeholder="Www Url" maxlength="128" disabled="disabled"></div>
                                <div class="actions"><button type="submit">Subscribe</button></div>
                            </div><input type="hidden" name="id" value="form01"></form>
                    </div>
                </div>
                <p id="text02">© {{ .Site.Params.copyrightYear }} {{ .Site.Params.author }}</p>
            </section>
        </div>
    </div>
</div>

{{ partial "footer" . }}
